<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cpigeon.app">

    <permission
        android:name="com.cpigeon.app.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.cpigeon.app.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <!-- 读联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 写联系人权限 -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <!-- 拨号权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 读短信权限 -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/ToolbarTheme"
        tools:replace="android:icon">


        <provider
            android:name=".utils.MyFileProvider"
            android:authorities="com.cpigeon.app.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <provider
            android:name=".utils.VideoProvider"
            android:authorities="com.myexampleapp.video.VideoProvider.files"
            android:exported="false" />

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <!-- UMeng 配置 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="59f9201cf43e482285000010" />

        <!--友盟分享-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1105989530" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />


        <!-- APP 渠到配置 -->
        <meta-data
            android:name="APP_CHANNEL"
            android:value="${CHANNEL_VALUE}" />

        <service
            android:name=".service.MainActivityService"
            android:enabled="true"
            android:exported="true"
            android:label="MainService"
            android:priority="1000"
            android:stopWithTask="false" />

        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modular.usercenter.view.activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransparentStatusBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modular.usercenter.view.activity.RegisterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".modular.guide.view.SplashActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.cpigeon.app"
                    android:pathPrefix="/"
                    android:scheme="cpigeon" />
            </intent-filter>

        </activity>
        <activity
            android:name=".modular.home.view.activity.WebActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modular.matchlive.view.activity.WeatherActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".modular.usercenter.view.activity.AboutActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modular.matchlive.view.activity.RaceChaZuZhiDingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modular.usercenter.view.activity.FeedBackActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modular.usercenter.view.activity.UserBalanceListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modular.usercenter.view.activity.UserInfoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modular.usercenter.view.activity.EditActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modular.usercenter.view.activity.MessageActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modular.usercenter.view.activity.MyFollowActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modular.order.view.activity.OrderActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modular.settings.view.activity.SettingsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modular.settings.view.activity.SettingSecurityActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modular.settings.view.activity.SettingPushActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modular.usercenter.view.activity.HelpActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".message.ui.idCard.IdCardCameraActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modular.usercenter.view.activity.SetUserPwdActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modular.usercenter.view.activity.SetPayPwdActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modular.usercenter.view.activity.ScoreActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransparentStatusBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modular.order.view.activity.OpenServiceActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modular.home.view.activity.SearchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modular.order.view.activity.OrderPayActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modular.matchlive.view.activity.MapLiveActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modular.usercenter.view.activity.BalanceActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modular.matchlive.view.activity.RaceReportActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modular.matchlive.view.activity.RaceChaZuBaoDaoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modular.matchlive.view.activity.RaceXunFangActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modular.matchlive.view.activity.GeCheJianKongListActicity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modular.usercenter.view.activity.UserBalanceRechargeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modular.guide.view.WelcomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransparentStatusBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".cartmonitor.ui.CompetitionListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransparentStatusBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".base.FragmentParentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ToolbarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".base.BaseWebViewActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/ToolbarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".message.ui.selectPhoneNumber.SelectPhoneActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/ToolbarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".message.ui.userAgreement.UserAgreementActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/ToolbarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />


        <!-- <provider -->
        <!-- android:name="android.support.v4.content.FileProvider" -->
        <!-- android:authorities="${applicationId}.provider" -->
        <!-- android:exported="false" -->
        <!-- android:grantUriPermissions="true"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.FILE_PROVIDER_PATHS" -->
        <!-- android:resource="@xml/file_paths" /> -->
        <!-- </provider> -->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.cpigeon.app.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="c7279e1d1182b0a47255cda941fdd9d7"></meta-data>

        <receiver
            android:name=".broadcastreceiver.JPushBroadcastReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_CLICK_ACTION" />
                <action android:name="cn.jpush.android.intent.CONNECTION" />

                <category android:name="com.cpigeon.app" />
            </intent-filter>
        </receiver>

        <service
            android:name="cn.jpush.android.service.PushService"
            android:process=":multiprocess"
            tools:node="replace"></service>

        <activity
            android:name=".modular.usercenter.view.activity.FeedBackResultListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name=".modular.usercenter.view.activity.FeedBackResultDetialActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name=".pigeonnews.ui.PigeonNewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pigeonnews.ui.NewsDetailsActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.video.RecordedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.playvideo.VideoPlayActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".modular.matchlive.view.fragment.TrainingDataActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ToolbarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modular.matchlive.view.activity.HistoryGradeActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".modular.matchlive.view.activity.TrainingDataNewActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".modular.matchlive.view.fragment.TrainingDataNewActivity"
            android:screenOrientation="landscape" />


        <!--赛线天气-->
        <activity
            android:name=".modular.lineweather.view.activity.LineWeatherActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <!--选择公棚-->
        <activity
            android:name=".modular.lineweather.view.activity.SelectShedActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />


        <!--选择司放地-->
        <activity
            android:name=".modular.lineweather.view.activity.SelectFlyActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <!--一周天气-->
        <activity
            android:name=".modular.lineweather.view.activity.AWeekWeatherActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".circle.ui.CircleMessageDetailsNewActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <!--签到-->
        <activity
            android:name=".modular.guide.view.SignActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".modular.login.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />


        <activity android:name=".modular.shootvideo.ShootVideoSettingActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <!--随行拍视频拍照页面-->
        <activity
            android:name=".modular.shootvideo.AtAnyTimeShootingActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />

    </application>


</manifest>